
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro Roman'),
         url('./fonts/NeueHaasDisplayRoman.woff') format('woff'),
         url('./fonts/NeueHaasDisplayRoman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro BlackItalic'),
         url('./fonts/NeueHaasDisplayBlackItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayBlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro Bold'),
         url('./fonts/NeueHaasDisplayBold.woff') format('woff'),
         url('./fonts/NeueHaasDisplayBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro BoldItalic'),
         url('./fonts/NeueHaasDisplayBoldItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro Light'),
         url('./fonts/NeueHaasDisplayLight.woff') format('woff'),
         url('./fonts/NeueHaasDisplayLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro LightItalic'),
         url('./fonts/NeueHaasDisplayLightItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro Medium'),
         url('./fonts/NeueHaasDisplayMedium.woff') format('woff'),
         url('./fonts/NeueHaasDisplayMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro MediumItalic'),
         url('./fonts/NeueHaasDisplayMediumItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayMediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro Thin'),
         url('./fonts/NeueHaasDisplayThin.woff') format('woff'),
         url('./fonts/NeueHaasDisplayThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro ThinItalic'),
         url('./fonts/NeueHaasDisplayThinItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro XThin'),
         url('./fonts/NeueHaasDisplayXThin.woff') format('woff'),
         url('./fonts/NeueHaasDisplayXThin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro XThinItalic'),
         url('./fonts/NeueHaasDisplayXThinItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayXThinItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro XXThin'),
         url('./fonts/NeueHaasDisplayXXThin.woff') format('woff'),
         url('./fonts/NeueHaasDisplayXXThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: local('Neue Haas Grotesk Display Pro XXThinItalic'),
         url('./fonts/NeueHaasDisplayXXThinItalic.woff') format('woff'),
         url('./fonts/NeueHaasDisplayXXThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}