.loader{
  z-index: 999;
  position: absolute;
  transform: translate(-50%,-50%);
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  