.viewport-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-button-icon {
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: cover;
}

